{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - New Actor{% endblock %}

{% block body %}
    <h1>Add Actor</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add</button>
    {{ form_end(form) }}
{% endblock %}